h1 {
    font-size: 3em;
    border: 30px transparent solid;
    padding: 15px;
    /* border-image: url(/assets/border.png) 30 round; */
    border-image: url(/assets/flower.jpg) 15% round;
    /* border-image: url(/assets/flower.jpg) 175 round; */
    text-align: center;
}